# Taller_objetos_Python

### Edgardo Sanchez

1) ¿Cuál de los siguientes NO es un tipo de objeto básico en Python?

R// D. Las funciones matematicas no es un tipo basico.

2. En Python, los valores True y False pertenencen al tipo:

R// B. Son tipos boleanos.

3. ¿Cuál de los siguientes objetos se considera un tipo numerico en Python?

R// A. Los tipos numericos son: int, float y complex.

4. ¿Qué imprime este código?

  x = (1, 2, 3)
  
  print(x[1])

In [ ]:
x = (1, 2, 3)
print(x[1])

2

R// B. La respuesta es 2 para el codigo dado.

5. ¿Cuál es el error en este código?

t = (1, 2, 3)

t[0] = 10

In [2]:
t = (1, 2, 3)
t[0] = 10

TypeError: 'tuple' object does not support item assignment

R// C. Las tuplas son inmutables, no se puede asignar t[0] = 10.

6. ¿Qué resultado produce?

s = {1, 2, 2, 3, 3}

print(s)

In [3]:
s = {1, 2, 2, 3, 3}
print(s)

{1, 2, 3}

R// B. La respuesta es la B para este set debido a que se eliminan los duplicados.

7. ¿Cuál es la salida?

palabra = "Mundo"

print(palabra[1:4])

In [4]:
palabra = "Mundo"
print(palabra[1:4])

und

R// C. Para el print asignado la respuesta es "und".

8. ¿Qué imprime?

lista = [10, 20, 30]

lista.append(40)

print(lista)

In [5]:
lista = [10, 20, 30]
lista.append(40)
print(lista)

[10, 20, 30, 40]

R// B. Agregando el 40 la lista queda [10, 20, 30, 40].

9. ¿Qué ocurre?

  dic = {"a": 1, "b": 2}
  
  print(dic["c"])

In [6]:
dic = {"a": 1, "b": 2}
print(dic["c"])

KeyError: 'c'

R// C. Lanza error debido a que no existe la llave.

10. Elige la opción correcta para obtener el valor 3 de este diccionario:

  d = {"x": 1, "y": 2, "z": 3}

In [7]:
d = {"x": 1, "y": 2, "z": 3}
print(d["z"])

3

R// A. Con print(d["z"]) se obtine el valor 3.

11. ¿Qué devuelve este código?

  print(type(3.0))

In [8]:
print(type(3.0))

<class 'float'>

R// B. El codigo imprime que el tipo es un float.

12. ¿Cuál es el resultado?

  x = [1, 2, 3]

  y = x

  y.append(4)
  
  print(x)

In [9]:
x = [1, 2, 3]
y = x
y.append(4)
print(x)

[1, 2, 3, 4]

R// B. Debido a que las listas quedan asignadas por referencia, x = [1, 2, 3, 4].

13. numeros = ["10", "20", "30"]

  resultado = ",".join(numeros)
  
  El valor de resultado será:

In [10]:
numeros = ["10", "20", "30"]
resultado = ",".join(numeros)
print(resultado)

10,20,30

R// B. Lo convierte a 10,20,30.

14. Completa el código para convertir un conjunto a lista:

  s = {1, 2, 3}

In [11]:
s = {1, 2, 3}
list(s)

[1, 2, 3]

R// A. El codigo list(s) convierte el conjunto a lista.

15. ¿Cuál es la salida?

  cadena = "Hola"
  
  print(cadena * 3)

In [13]:
cadena = "Hola"
print(cadena * 3)

HolaHolaHola

R// B. Al multiplicarlo por tres queda "HolaHolaHola".

16. ¿Qué valor imprime?

lista = [10, 20, 30]

print(lista[-1])

In [14]:
lista = [10, 20, 30]
print(lista[-1])

30

R// C. El print(lista[-1]) trae el 30.

17. precios = [1200, 500, 3400, 800]

precios.sort()

  
¿Qué contendrá precios después de ejecutar el código?

In [18]:
precios = [1200, 500, 3400, 800]
precios.sort()
print(precios)

[500, 800, 1200, 3400]

R// A. El .sort organiza la lista, [500, 800, 1200, 3400].

18. ¿Cuál es el error?

conjunto = {1, 2, 3}

print(conjunto[0])

In [19]:
conjunto = {1, 2, 3}

print(conjunto[0])

TypeError: 'set' object is not subscriptable

R// A. Los conjuntos no son indexables.

19. ¿Qué devuelve?

len({"a": 1, "b": 2, "c": 3})

In [20]:
len({"a": 1, "b": 2, "c": 3})

3

R// B. El len cuenta las claves del diccionario, 3.

20. ¿Qué resultado da?

lista = [1, 2, 3]

print(lista * 2)

In [21]:
lista = [1, 2, 3]
print(lista * 2)

[1, 2, 3, 1, 2, 3]

R// A. Repite la lista.

21. ¿Qué ocurre?

d = {"a": 1}

d["a"] = 100

print(d)

In [22]:
d = {"a": 1}
d["a"] = 100
print(d)

{'a': 100}

R// B. La clave se sobreescribe.

22. ¿Qué imprime?

print("python".upper())

In [23]:
print("python".upper())

PYTHON

R// A. Transcribe la palabra con mayusculas.

23. Completa el código para agregar el número 5 a un conjunto:

s = {1, 2, 3}

s.____(5)

In [25]:
s = {1, 2, 3}
s.add(5)
print(s)

{1, 2, 3, 5}

In [ ]:
R// A. Para los set se agrega con add.

24. ¿Cuál es la salida?

d = {"x": 10, "y": 20}

print("x" in d)

In [26]:
d = {"x": 10, "y": 20}
print("x" in d)

True

R// B. Se cumple el supuesto.

25. ¿Qué imprime?

print([1, 2, 3] == [1, 2, 3])

In [27]:
print([1,2,3]==[1,2,3])

True

R// B. Las listas son iguales y se cumple el supuesto.

26. for i in range(5):

 print(i)

¿Qué se imprimirá en pantalla?

In [28]:
for i in range(5):
  print(i)

0
1
2
3
4

R// C. Se genera un range de 0 a 4.

27. ¿Qué ocurre?

s = {1, 2, 3}

s.remove(4)

In [29]:
s = {1, 2, 3}
s.remove(4)

KeyError: 4

R// C. Lanza error porque el 4 no existe.

28. Tienes el siguiente texto:

texto = "Colombia México Perú Chile"

paises = texto.split()

¿Qué contendrá la variable paises?

In [32]:
texto = "Colombia México Perú Chile"
paises = texto.split()
print(paises)

['Colombia', 'México', 'Perú', 'Chile']

R// B. Separa por comas.

29. ventas = "1000;2500;3200;4500"

valores = ventas.split(";")

¿Qué resultado produce valores?

In [34]:
ventas = "1000;2500;3200;4500"
valores = ventas.split(";")
print (valores)

['1000', '2500', '3200', '4500']

R// A. Separa por comas.

30. palabras = ["Economía", "Mercados", "Exportaciones"]

texto = " - ".join(palabras)

¿Cuál será el contenido de texto?

In [36]:
palabras = ["Economía", "Mercados", "Exportaciones"]
texto = " - ".join(palabras)
print(texto)

Economía - Mercados - Exportaciones

R// B. Separa con -.

31. empresas = ["Amazon", "Google", "Microsoft", "Apple"]

empresas.sort()

¿Qué contendrá empresas después de ejecutar el código?

In [38]:
empresas = ["Amazon", "Google", "Microsoft", "Apple"]
empresas.sort()
print(empresas)

['Amazon', 'Apple', 'Google', 'Microsoft']

R// A. Organiza por orden alfabetico.

32. numeros = list(range(2, 10, 2))

¿Qué contendrá la lista numeros?

In [41]:
numeros = list(range(2, 10, 2))
print(numeros)

[2, 4, 6, 8]

R// A. Excluye el 10 y va en secuencia de 2.